<header class="row">    
	<div class="logo col-sm-12">
		<img src="../../assets/img/logo.png" style="width:150px;" class="pull-right">
    </div>	
    <div class="col-sm-5 col-sm-offset-2 heading">
        <h1>Lorem ipsum</h1>      
        <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
    </div>
    <div class="video-container col-sm-12">
        <div class="video">
            <a data-toggle="modal" data-src="https://www.youtube.com/embed/IP7uGKgJL8U" data-target="#myModal">
                <div class="middle">  
                    <div class="text"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></div>              
                </div>
                <img src="../../assets/img/video-thumb.png" class="responsive-img">
                
            </a>
        </div>
    </div>
</header>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
        
        <div class="modal-body">
  
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>        
          <!-- 16:9 aspect ratio -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IP7uGKgJL8U" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
  </div>
</div>
</div>
</div></div>
