<footer class="row">
    <div class="col-sm-12 footer-row text-center">
        <div class="mb-5 flex-center">
            <a class="icon">
              <i class="facebook"> </i>
            </a>
            <a class="icon">
              <i class="twitter"> </i>
            </a>            
            <a class="icon">
              <i class="linkedin"> </i>
            </a>
            <a class="icon">
                <i class="youtube"> </i>
              </a>
          </div>
    </div>
    <div class="footer-row col-sm-12 footer-disclaimer text-center">Disclaimer | Terms of privacy</div>
    <div class="footer-row col-sm-12 footer-copyright text-center">© 2020 MIRUM: All Rights reserved</div>
</footer>