<section class="row">
    <div class="col-sm-12">
        <h4 class="text-uppercase text-center">related</h4>
    </div>
    <div class="col-sm-12 related-container">
        <div class="related-item">
            <div class="related-img"><img src="../../assets/img/related-1.png"></div>
            <div class="related-text text-uppercase text-center">space ipsum</div>
        </div>
        <div class="related-item">
            <div class="related-img"><img src="../../assets/img/related-2.png"></div>
            <div class="related-text text-uppercase text-center">space ipsum</div>
        </div>
    </div>
</section>
